* {
    font-family: 'Smooch Sans', sans-serif;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
.shadow-nav{
    box-shadow: 0 0 2px 0 rgba(0,0,0,.24), 0 2px 2px 0 rgba(0,0,0,.12);
    background-color: #fff;
}
.logo{
    /* font-family: 'Kelly Slab', cursive; */
    font-size: 48px;
    color: #747070;
    text-decoration: none;
    transition: 1s;
}
.logo:hover{
    color: #000;
}
.phone-number{
    font-size:30px ;
    /* font-family: 'Kelly Slab', cursive; */
    color: #747070;
}
.aside-video{
    z-index: -1;
    height: calc(100vh - 88px); 
    top: 88px;
}
.carousel-item > img{
    height: 100vh;
    object-fit: cover;
}
.navbar-nav > li{
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.nav-tabs > button{
    font-size: 20px;
    color: #747070;
}
.nav-tabs > button:hover{
    color: #000;
}
.line {
    width: 53px;
    height: 0;
    border: 1px solid #C4C4C4;
    margin: 3px;
    display:inline-block;
    transition: 1s;
}
.category-head > h1{
    margin-bottom: 0px;
}
.category-head:hover .line{
    width: 100px;
}
.card{
    border:none;
    border-radius: 0px;
}
.overlay{
    position: absolute;
    background-color: #ffffff8f;
    width: 50px;
    height: 50px;
    top: 113px;
    right: 4px;
    border-radius: 30px 30px 0px 30px;
    text-align: center;
}
.overlay > p{
    color: #000;
    font-size: 20px;
    margin-top: 12px;
}
.dedcription-btn {
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: #fcfcfc;
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 9px 0;
    transition: all 0.3s;
    padding-right: 40px;
    margin: 20px 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
    background-color: #000;
    width: 68px;
    height: 45px;
    float: right;
    position: absolute;
    border-radius: 30px 30px 30px 0;;
    right: 0px;
    top: 0px;
    transition: all 0.3s;
}
.name-descripeion {
    position: relative;
    z-index: 1;
}
.btn-icon::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 45px solid #fcfcfc;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.dedcription-btn:hover .btn-icon {
    width: 100%;
    border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
}
.btn-icon svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 14px;
    fill: #fff;
}
.dedcription-btn:hover {
    color: #fff!important;
}
.pagnation{
    border: 0;
}
section {
    padding: 20px 40px!important;
}
.border-success:hover{
    background-color: rgba(0,168,98,.1);
}
.accordion-item{
    border: none;
}
.accordion-button{
    font-size: 23px;
    margin: 1em;
}
.accordion-body{
    margin-left: 1em;
}
ul.social-media > li{
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0.5em;
    background-color: #000;
    box-sizing: border-box;
}
ul.social-media > li> a > svg{
    width: 23px;
    height: 23px;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
}
ul.footer-menu > li{
    margin: 2em 2em 0;
    font-size: 20px;
}
/* Pagination */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__item {
    display: inline-block;
    margin: 0 10px;
}
.pagination__link {
    position: relative;
    text-indent: -99em;
    overflow: hiddin;
    display: block;
    width: 23px;
    height: 23px;
}
.pagination__link:before, .pagination__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1.5px solid grey;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.pagination__link:before {
    background: grey;
    transform: scale(0.2);
}
.pagination__link:hover:after {
    transform: scale(1.1);
}
.pagination__link.is_active:before {
    transform: scale(0.5);
}
.pagination__link.is_active:after {
    transform: scale(0.2);
}
.pagination__item > svg{
    margin-bottom: 3px;
}

footer > ul > li{
    font-size: 20px;
}
footer > p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
@media (max-width:576px){
    
}